@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Triac';
    src: url('/fonts/triac%2071.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}